!!! 5
%html
  %head
    %title P V N
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    = render "menu"
    .container

      %h3.alert= alert
      %h3.notice= notice

      .content
        = yield
      = render "footer"